.wrapper {
  background: url("../media/bg-img.svg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Poppins", sans-serif;
}

ul {
  text-align: left;
}
h1 {
  font-size: 3em;
}

.name1 {
  font-family: monospace;
}
body {
  background-image: url("../media/bg5.jpg");
  background-size: 1324px 675px;
  background-repeat: no-repeat;
}
