.wrapper {
  background: url("../media/bg-img.svg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Poppins", sans-serif;
}

ul {
  text-align: left;
}
h1 {
  font-size: 3em;
}

.name1 {
  font-family: monospace;
}
body {
  background-image: url("../media/bg5.jpg");
  background-size: 1324px 675px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 886px) {
  h1 {
    text-align: center;
    font-size: 120px;
  }

  body {
    background-size: 800px 800px;
    background-image: url("../media/phonebg1.jpg");
  }
  .hero {
    padding-top: 30px;
    text-align: center;
  }
}
.warpper3 {
  background-color: #dcdedd;
}
.hero {
  background-color: #c9cbc6;
}
