.wrapper {
  background: url("../media/bg-img.svg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Poppins", sans-serif;
}

ul {
  text-align: left;
}
h1 {
  font-size: 3em;
}

.name1 {
  font-family: monospace;
}
body {
  background-image: url("../media/bg5.jpg");
  background-size: 1324px 675px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 786px) {
  h1,
  h3 {
    text-align: center;
  }
  body {
    background-size: 600px 1800px;
  }
}
